.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
    border: 1px solid greenyellow;
    min-width: 800px;
    overflow-y: scroll;
}

.inputs {
    margin: 20px;
}

.input {
    display: flex;
    justify-content: left;
    margin: 10px 0;
    
}
.input label,.input button, .input input{
    margin: 0 10px;
}
.input input[type=number] {
    width: 70px;
}

#grid {    
} 

#grid div {
    border: 1px dotted gray;
    width: 20px;
    height: 20px;

    display: inline-block;
    margin: 0 2px;
    box-sizing: border-box; /*TODO: check if it layouts and paints faster without it*/
}

#grid div.alive {
    background-color: red;
}

#logs {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box; 
     
}